/* The grid-area property places a grid item into a named
* region (area) of the grid. */
html, body{
	overflow-x: hidden;
}
menu-item{
	position:absolute;
	width:16.67%;
	height:28vh;
	border: solid 3px #666;
	padding: 0px !important;
    margin: 0px !important;
}
.fullscreen{
	width:100vw;
	height:100vh;
}
.nopadding {
   padding: 0px !important;
   margin: 0px !important;
}
.large-height{
	height:56vh;
}
.normal-height{
	height:28vh;
}
@media screen and (max-width: 768px){
	.large-height{
	 height:33vw;
    }
    .normal-height{
	 height:33vw;
    }
}
.red{
	background-color:#800000; ;
}
.purple{
	background-color: #660066;
}
.yellow{
	background-color: gold;
}
.blue{
	background-color: #0080c0;
}
.green{
    background-color: #006400;
}
.dark{
    background-color: #2e2e2e;
}
.orange{
	background-color: #ff8000; 
}
.leaderboard{
	background-color: #778899;
	position: absolute;
	width: 33.33%;
	height: 56vh;
	top:16vh;
	right: 66.67%;
}
.profile{
	background-color: #34495e;
	height:16vh;
	top:0;
	right:0;
	border-bottom: 3px solid #666666;
}
.startbutton{
	width:50%;
	height: 12%;
	position: absolute;
	left: 20%;
	bottom: 0;
	font-size: 3.5em;
	font-family: fantasy;
	background-color: rgba(22,22,22,0.5);
   -webkit-box-shadow: 0 0 1px #666;
   -moz-box-shadow: 0 0 1px #666;
   box-shadow: 0 0 1px #666;
	text-align: center;
	color: #eeeeee;
}
.backbutton{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 5%;
	height: 5%;
}
.backbutton img{
	width: 100%;
	heght: 100%;
}
.startbutton:hover {
	-webkit-box-shadow: 0 0 5px #777;
   -moz-box-shadow: 0 0 5px #777;
   box-shadow: 0 0 5px #777;
   background-color: rgba(44,44,44,0.6);
}
@media screen and (max-width: 768px){
	.profile{
	   height:20vw;
	}
	.startbutton{
	  width:100%;
	  height:15%;
	  left:0;
	}
	.backbutton{
	  width: 20vw;
	  height: 10vh;
	}
}


