.category-list{
    display: block;

    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px 0;
    margin: 0 -2px;
    overflow-y: auto;
    overflow-x: hidden;
}
.toolbar {
    height: 100px;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #00bad2;
    color: #fff;
    font-size: 24px;
}
.leaderboard{
     width: 33%;
     height: 66%;
}
.white{
    background-color: whitesmoke;
}
div {
    display: block;
}

