<div class = "fullscreen startupscreen" style = "display: block;background-size: 100% 100%;" ng-style = "{ 'background-image': 'url(' + 'static/img/'+category+'.jpg'+ ')' }">
  <div class="btn btn-default btn-lg"  ng-click = "backToMenu()">
     <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
  </div>
  <div class = "question-area" ng-if = "inProcess">
    <div class = "question fullcontainer" ng-if = "isAnswering&&!end">
      <div class = "content" ><p>{{questions[currentQuestion].content}}</p></div>
      <!-- question content-->
      <div class = "options">
        <div class = "option" ng-repeat = "option in questions[currentQuestion].options" ><!-- options -->
          <input type="radio" id = "{{$index}}" ng-model="$parent.userAnswers[currentQuestion]" ng-value = "$index">
          <label for="{{$index}}"><p>{{option}}</p></label>
        </div>
      </div>
      <button class = "confirm-button" style = "position:absolute;top: 40%;left: 90%;"type="button" ng-click = "confirmAnswer()" ng-hide="userAnswers[currentQuestion]<0"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>  
    </div>
    <div class = "question-result" ng-if = "!isAnswering&&!end">
      <p>+{{addPoint}}</p>
    </div>
    <div class = "final-result fullcontainer" ng-if= "!isAnswering&&end">
      <p style = "font-size:3em">Result:</p>
      <p style = "font-size:2em">{{"Correct: "}}</p>
      <p style = "font-size:3em">{{numberOfRightAnswer+"/10"}}
      <p style = "font-size:2em">{{"Your score: "}}</p>
      <p style = "font-size:3em">{{userScore}}</p>
      <button style = "position:absolute;top: 90%;left: 75%;" type = "button" ng-click = "showDetailResult()"><span >?</span></button>
      <button style = "position:absolute;top: 90%;left: 90%;" type = "button"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click = "resetProcess()"></span></button>
    </div>
    <div class = "detail-result fullcontainer" ng-if= "isAnswering&&end"> 
      <div style = "padding-left:3%;height:15%">
        <p style = "font-size:2.5em">Detail</p>
      </div>
      <div class = "content-of-details">
        <div class = "item-detail" ng-repeat = "result in results track by $index">
          <p>{{($index+1) +". "+ questions[$index].content}}</p>
          <p style="font-style: italic;">{{questions[$index].options[userAnswers[$index]]}}
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-if="result=='danger'" style = "color:red;"></span>
            <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="result!='danger'" style = "color:green;"></span>
          </p>
          <b>
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" style = "color:black;">&nbsp</span>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style = "color:black;"></span>
          </b>
        </div>
      </div>
      <button style = "position:absolute;top: 15%;left: 90%;" type = "button"><span class="glyphicon glyphicon-ok" aria-hidden="true" ng-click = "resetProcess()"></span></button>
    </div>
  </div>
  <div class = "bottom-area">
    <div ng-if = "!inProcess" class = "startbutton fullcontainer" ng-click = "beginAnswer()">
      <h1>{{category}}</h1>
    </div>
    <div ng-if = "inProcess" class = "process_result fullcontainer">
      <div style = "height:6%;">
      <progress style = "height:100%">
      <bar class = "progress-bar-striped" ng-repeat = "result in results track by $index" value = "10" type = "{{result}}"></bar>
      </progress>
      </div>
      <div>
        <div class="row" style="height:92%;padding-left:2%; padding-right:2%">
          <div class = "col-md-2">
            <img ng-src = "static/images/ho.jpg" alt = "" height="100" width = "100" style = "padding-top:10%;" class="img-responsive">
          </div>
          <div class = "col-md-8" style = "text-align: left;font-size:1.8em;">
            <div style = "height:50%"><p>{{category}}</p>
            </div>
            <div style = "height:50%"><p>{{(currentQuestion+1)+"/10"}}</p>
            </div>
          </div>
          <div class = "col-md-1"  style = "text-align: right;"><h1>{{userScore}}</h1></div>
        </div>
      </div>
    </div>  
  </div>
</div>