<script type="text/javascript" src="app.js"></script> <!--delete after finish thia part-->
<div class="quiz-area" ng-show="inProgress">
</div>
<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!Done">   <!-- display when answer the quiz-->
	</div>
	<div ng-show="Done">    <!--display when finish the quiz-->
        <div id="score"> <!--player score--></div>
		<button ng-click="finish()"></button> <!-- comeback to mainmenu-->
	</div>
</div>
<div class="intro" ng-show="!inProgress">
	<button id="startQuiz" ng-click="start()"></button> <!--button to start-->
</div>