html, body{
	overflow-x: hidden;
}
.menu{
	overflow: hidden;
}
menu-item{
	position:absolute;
	width:16.67%;
	height:28vh;
	border: solid 3px #666;
	padding: 0px !important;
    margin: 0px !important;
    animation-name: zoom-out-ver2;
	animation-duration: 0.69s;
}
.fullscreen{
	width:100vw;
	height:100vh;
}
.fullcontainer{
	width:100%;
	height: 100%;
}
.fullheight{
	height: 100%;
}
.haftheight{
	height: 50%;
}
.inside-image{
	max-width:100%;
	height:80%;
	position: absolute;
	top:10%;
	left:20%;
}
.nopadding {
   padding: 0px 0px 0px 0px !important;
}
.topbotpadding {
	padding-bottom: 5px;
	padding-top: 5px;
}
.large-height{
	height:58vh;
}
.normal-height{
	height:29vh;
}
.red{
	background-color:#800000; ;
}
.purple{
	background-color: #660066;
}
.yellow{
	background-color: gold;
}
.blue{
	background-color: #0080c0;
}
.green{
    background-color: #006400;
}
.dark{
    background-color: #2e2e2e;
}
.orange{
	background-color: #ff8000; 
}

.profile{
	position:absolute;
	background-color: #34495e;
	height:13vh;
	color: white;

}
.chosen{
	border: 3px groove #7777ee;
}
.active{
	color: blue;
}
.unactive{
	color: gray;
}
.no-bg-color{
	background:none !important;
	padding: none;
	border: none !important;
}
@media screen and (max-width: 768px){
	.profile{
	   height:20vw;
	}
	.large-height{
	 height:33vw;
    }
    .normal-height{
	 height:33vw;
    }
}