<!DOCTYPE html>
<html ng-app = "quizApp">
    <><!---->
        <title>Quiz App</title>
        <script type="text/javascript" src="static/js/AngularJS/angular.min.js"></script>
        <script type="text/javascript" src="static/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="static/css/effect.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/startmenu.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/animations.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/menu.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/leaderboard.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/hoverEffect.css"/>
        <link rel="stylesheet" type="text/css" href ="static/css/bootstrap.min.css">
    </head>
    {% if not request.user.is_authenticated %}
    <p>welcome to my website</p>
    <a href="{% url 'auth_login' %}">Login</a><p> to answer or</p>
    <a href="{% url 'registration_register' %}">Register a new account</a>
    {% endif %}
    {% block content %}
    </html>
    {% if request.user.is_authenticated %}
    <body ng-controller = "menuController" style="width:100%;padding: 0 0;margin:0">

        <div class="container-fluid" style="padding:0px;background-color:blue" ng-switch="option">
         
          <div ng-switch-when = "menu">
             <div class = "col-md-12 nopadding profile">
                <profile-bar></profile-bar>
             </div>
             <div class = "col-md-4 col-xs-6 nopadding">
                <menu-item class = "col-md-12 col-xs-12 large-height orange" item = "'General Knowledge'" ></menu-item>
                <menu-item class = "col-md-6 col-xs-12 normal-height blue" item = "'Food & Drink'"></menu-item>
                <menu-item class = "col-md-6 col-xs-12 normal-height dark" item = "'Music'"></menu-item>
             </div> 
             <div class = "col-md-4 col-xs-6 nopadding">
                <menu-item class = "col-md-6 col-xs-12 normal-height green" item = "'Sports'"></menu-item>
                <menu-item class = "col-md-6 col-xs-12 normal-height yellow" item = "'Animals'"></menu-item>
                <menu-item class = "col-md-12 col-xs-12 large-height red" item = "'Geography'"></menu-item>
             </div> 
             <div class = "col-md-4 col-xs-12 nopadding">
                <menu-item class = "col-md-12 col-xs-6 normal-height blue" item = "'History'" ></menu-item>
                <menu-item class = "col-md-6 col-xs-6 normal-height dark" item = "'Science'"></menu-item>
                <menu-item class = "col-md-6 col-xs-6 normal-height red" item = "'Entertainment'"></menu-item>
                <menu-item class = "col-md-6 col-xs-6 normal-height purple" item = "'Movies'"></menu-item>
                <menu-item class = "col-md-6 col-xs-6 normal-height orange" item = "'Random'"></menu-item>
             </div>

             
          </div>
          <div class = "leaderboard" ng-switch-when = "leaderboard">
            <leaderboard></leaderboard>
          </div>
          <div class = "login" ng-switch-when = "login"></div>
          <div class = "answer" ng-switch-when = "answer">
             <startup-screen category="category"></startup-screen>
          </div>
          <div class = "login" ng-switch-when = "profile">Hello this is profile</div>
        </div>

    </body><!---->
</html>
{%endif%}
{% endblock %}