{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class='ro'>
	<div class='col-sm-6 col-sm-offset-3'>
		<br> <br> <br>
		<!-- Creat form sign in for website -->
		<div class ='panel panel-primary'>	<!-- using panel -->
			<div class="panel panel-heading">
				<H2 class="panel-title" style="font-weight: bold;">Sign in</H2>
			</div>
			<div  class="panel-body">
				<form method="post" action=".">
				  	{% csrf_token %}
				  	{{ form.as_p }}
				  	<input class='btn btn-default' type="submit" value="Submit"/>
				  	<input class="btn" type="hidden" name="next" value="{{next}}" />
				</form>
			</div>		
		</div>
	</div>
</div>

</div>
<br><br><br><hr/>
<div class='row'>
	<div class='col-sm-6 col-sm-offset-3 text-align-center'>
		<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
		<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a>!</p>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#id_password").attr('class','form-control');
	$("#id_username").attr('class','form-control');
	$(".errorlist li").attr('class','alert alert-danger');
});
</script>
{% endblock %}