{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Register for free!</h1>
<form method="post" action=".">
  {%csrf_token%}

  <input type='hidden' name='csrfmiddlewaretoken' value='k2YhZ0dhWBoO0vxp25pJLR2FpMZeGrSx' />
  <div id="div_id_username" class="form-group required"> <label for="id_username" class="control-label  requiredField">
                {% csrf_token %}
                Username<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_username" maxlength="30" name="username" type="text" /> <p id="hint_id_username" class="help-block">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</p> </div> </div> <div id="div_id_email" class="form-group required"> <label for="id_email" class="control-label  requiredField">
                E-mail<span class="asteriskField">*</span> </label> <div class="controls "> <input class="emailinput form-control" id="id_email" name="email" type="email" /> </div> </div> <div id="div_id_password1" class="form-group required"> <label for="id_password1" class="control-label  requiredField">
                Password<span class="asteriskField">*</span> </label>
  <div class="controls "> <input class="textinput textInput form-control" id="id_password1" name="password1" type="password" /> </div></div> <div id="div_id_password2" class="form-group required"> <label for="id_password2" class="control-label  requiredField">
                Password confirmation<span class="asteriskField">*</span> </label>
  <div class="controls "> <input class="textinput textInput form-control" id="id_password2" name="password2" type="password" /> <p id="hint_id_password2" class="help-block">Enter the same password as above, for verification.</p>
  </div>
  </div>
  <input class='btn btn-block btn-primary' type="submit" value="Join" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>


{% endblock %}
